.buttonOpen {
    color: black;
    height: 55px;
    width: 55px;
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0px;
    border-radius: 15px;
}

.buttonOpen:hover {
    background-color:gainsboro;
}


.button {
    color: black;
    height: 55px;
    width: 55px;
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0px;
    border-radius: 15px;
}

.button:hover {
    background-color:gainsboro;
}

.verticalLine {
    width: 4px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; 
    /* Causes the line to float to left of content. 
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
    margin-left: 27px;
    
 
}

.cross {
    background: black;
    height: 100%;
    position: relative;
    width: 4px;
    margin-left: 27px;
  }
.cross:after {
    background: black;
    content: "";
    height: 2px;
    left: -27px;
    position: absolute;
    top: 25px;
    width: 65px;
  }  