.appHeader {
	background-color: pink;
}

.appTitle {
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	font-family: fantasy; 
	padding: 10px
}

.wallPaper {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  min-height: 100vh;
}

.appFooter {
	padding: 10px; 
	margin-bottom: 0;
	background-color: pink; 
	position: fixed; 
	bottom: 0;
	width: 100%;
	color: white;
	font-family: fantasy;
	display: flex;
	justify-content: center;
}

.contentContainer {
	padding: 15px;
}